#aboutus{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.globe{
    height: 380px;
    width: 400px;
    
}
span{
  color: rgb(125,171,8); 
  padding-left: 50%;
  font-size: 48px;
}
#text{
    /* padding-top: %; */
    font-size:small ;
    padding-left: 8%;
}
p{
    text-align: justify;
}
@media screen and (min-width:280px) and (max-width:460px){

      #aboutus{
        display:grid;
        gap: 20px;
        justify-content: center;
    }
    .globe{
        height: 170px;
        width: 180px;
        padding-left: 17%;
        
    }
    span{
        color: rgb(125,171,8); 
        padding-left: 27%;
        font-size:x-large;
      }
      #text{
        padding-top: 1%;
        font-size: small;
    }
}
    @media screen and (min-width:540px) and (max-width:720px){
        #aboutus{
            display:grid;
            gap: 20px;
            justify-content: center;
        }
        .globe{
            height: 170px;
            width: 180px;
            padding-left: 30%;
            
        }
        span{
            color: rgb(125,171,8); 
            padding-left:35%;
            font-size: x-large;
          }

    }



    
