.container-five{
    background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
}


.team{
    color: aliceblue;
    margin-left: 800px;
    font-size: 50px;
    color: #7DAB08;
}

h2{
    font-size: 30px;
}

.images{
    display: flex;
    gap: 10%;
    padding-left: 200px;
}

.caption{
    text-align: center;
    padding-left: 80px;
    font-size: 10px;
    color: aliceblue;
}

.font{
    color: aliceblue;
}


.image-bottom{
    padding-top: 10px;
    display: flex;
    gap: 15%;
    padding-left: 400px;
}

.our-team img{
    width: 280px;
    height: 250px;
    gap: 10%;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 300px) and (max-width: 1300px){
    h2{
        font-size: 30px;
    }
    
    .images{
        flex-direction: column;
        align-items: center;
        margin-left: -380px;
    }
    
    .caption{
        font-size: 18px;
    }
    
    .image-bottom{
        flex-direction: column;
        align-items: center;
        margin-left: -600px;
    }
    
    .our-team img{
        width: 200px;
    }
}
